main {
    position: relative;
}

#error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    font-family: sans-serif;
    word-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(108, 108, 108);
}
#error > p {
    text-align: center;
}