main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: sans-serif;
    word-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(108, 108, 108);

    margin: 20px;
}